@page
@model TutorialEU.Pages.Productos.IndexModel
@{
    ViewData["Title"] = "Lista Productos";
}

<h1 class="text-center">Lista de productos</h1>

<section>
    <h3>Comandos</h3>
    <div>
        <a asp-page="CrearProducto" class="btn btn-primary">Agregar Producto</a>
    </div>
</section>
<section>
    <h3 class="text-center">Listado</h3>
    @if (Model.Productos.Count == 0) {
        <div class="text-center">
            <h3>No hay productos</h3>
        </div>
    } else {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(m => m.Productos.First().Id)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(m => m.Productos.First().Activo)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(m => m.Productos.First().Nombre)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(m => m.Productos.First().Precio)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(m => m.Productos.First().Stock)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(m => m.Productos.First().CreatedAt)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(m => m.Productos.First().Descripcion)
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Productos) {
                    <tr>

                        <td>@Html.DisplayFor(m=>item.Id)</td>
                        <!--<td>@Html.DisplayFor(m=>item.Activo)</td> -->
                        <td>
                            @{
                                string estado = item.Activo ? "Activo" : "Inactivo";
                            }
                            @estado
                        </td>
                        <td>@Html.DisplayFor(m=>item.Nombre)</td>
                        <td>@Html.DisplayFor(m=>item.Precio)</td>
                        <td>@Html.DisplayFor(m=>item.Stock)</td>
                        <td>@Html.DisplayFor(m=>item.CreatedAt)</td>
                        <td>
                            @{
                                string descripcion = item.Descripcion.Length <= 5 ? item.Descripcion : item.Descripcion.Substring(0, 9);
                            }
                            @descripcion
                            <a data-toggle="tooltip" data-placement="top" title="@item.Descripcion" href="javascript:void(0)">
                                ...
                            </a>
                        </td>
                        <td>
                            <a asp-page="EditarProducto" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Editar</a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    }
</section>